.blog,
.featured-wrap {
  .entry-meta { 
    width: 10%;
    display: inline-block;
    float: left;
    margin: 5px 0 0 0;
    font-size: .9em;
    font-style: normal;
    color: #500000;
    text-align: center;
    .college-day {
      font-size: 1.8em;
    }
    .college-month {
      text-transform: uppercase;
    }
  }
  .entry-content,
  .entry-summary { 
    width: 87%;
    margin-left: 13%;
  }
}